:root{
    --color-black: #000;
    --color-black-second: #3A4042;
    --color-white: #FFF;
    --color-first:#F25A70;
    --color-second: #7C5E99;
    --color-third: #4C5B84;
    --color-fourth: #CEB02A;
}


