.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-second);
    box-shadow: 10px 10px 0px var(--color-white);
    width: 280px;
    height: 280px;
}

.card-project.-blue{
    background-color: var(--color-third);
}