.main-header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-second);
    border-bottom: 10px solid var(--color-black);
    padding: 10px 20px;
}

/* 0 - 980*/
@media screen and (max-width: 980px){
.main-header > .menu{
    display: none;
    }

}

/* 980 - até onde dá pra cima*/
@media (min-width: 980px){
    .main-header > .icon-menu {
        display: none;
    }
}
