.node-card{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.node-card::before{
    content: "";
    position: absolute;
    bottom: 140px;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border-top: 2.5px dashed var(--color-black);
    transform: rotate(90deg) translateX(-59%);
}

.node-card .title{
    font-size: 25px;
    font-weight: 400;
    color: var(--color-first);
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 50px;

}

.node-card .logo{
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid var(--color-black);
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-fourth);
}

.node-card.-clean .logo{
    padding: 0;
}